# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = false

[*.tsx]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
