@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Consolas, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* proseで囲まれたmdファイルのスタイルを調整 */
.prose ul {
  margin-top: 0.4em !important;
  margin-bottom: 0.4em !important;
}

.prose li,p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.prose h3 {
  margin-top: 0.67em;
}

.prose pre {
  margin-top: 0.67em !important;
  margin-bottom: 1.00em !important;
}

.prose ol {
  margin-top: 0.6em !important;
  margin-bottom: 0.4em !important;
}
