@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Consolas, Arial, Helvetica, "system-ui", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* proseで囲まれたmdファイルのスタイルを調整 */
.prose ul {
  margin-top: 0.4em !important;
  margin-bottom: 0.4em !important;
}

.prose li,p {
  margin-top: 0.4em !important;
  margin-bottom: 0.4em !important;
}

.prose h3 {
  margin-top: 0.67em;
}

.prose pre {
  margin-top: 0.67em !important;
  margin-bottom: 1.00em !important;
}

.prose ol {
  margin-top: 0.6em !important;
  margin-bottom: 0.4em !important;
}

.prose thead {
 background-color: rgba(10, 10, 150, 0.2);
}

.prose thead th {
  text-align: center !important;
  padding: 0.2em !important;
}

.prose a {
  color: #0070f3;
  text-decoration: none;
}
